{% extends "layout.html" %}
{% block title %}Home Page{% endblock %}


{% block headers_addon %}
<form action="/change-week" class="form-inline" method="GET">
  <label for="chosen_date" class="col-form-label-lg">Change displayed week:</label>
  <input type="date" id="chosen_date" name="chosen_date" onchange='this.form.submit()' value="{{ chosen_date }}">
</form>
{% endblock %}
{% block h1 %}Home Page{% endblock %}

  {% block navbar_home %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Home
    </a>
    <ul class="dropdown-menu bg-dark">
      <li><a class="dropdown-item" onclick="openForm()" href="#">Create a task</a></li>
    </ul>
  </li>
  {% endblock %}
{% block content %}

<div class="row">

<div class="col">
  <h1>Mon</h1>
  {% for task in tasks %}
    {% if task.task_date.weekday() == 0 %}
      <div class="row">
        <div class="card text-white mb-3" style="max-width: 18rem;">
          <div class="card-header">{{ task.customer_name }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ task.project_name }}</h5>
            <p class="card-text">{{ task.task_desc }} - {{ task.duration_hours }}:{{ task.duration_minutes }}</p>
          </div>
          </div>
      </div>
    {% endif %}
  {% endfor %}
</div>

  <div class="col">
    <h1>Tue</h1>
    {% for task in tasks %}
    {% if task.task_date.weekday() == 1 %}
      <div class="row">
        <div class="card text-white mb-3" style="max-width: 18rem;">
          <div class="card-header">{{ task.customer_name }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ task.project_name }}</h5>
            <p class="card-text">{{ task.task_desc }} - {{ task.duration_hours }}:{{ task.duration_minutes }}</p>
          </div>
          </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
  <div class="col">
    <h1>Wed</h1>
    {% for task in tasks %}
    {% if task.task_date.weekday() == 2 %}
      <div class="row">
        <div class="card text-white mb-3" style="max-width: 18rem;">
          <div class="card-header">{{ task.customer_name }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ task.project_name }}</h5>
            <p class="card-text">{{ task.task_desc }} - {{ task.duration_hours }}:{{ task.duration_minutes }}</p>
          </div>
          </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
  <div class="col">
    <h1>Thu</h1>
    {% for task in tasks %}
    {% if task.task_date.weekday() == 3 %}
      <div class="row">
        <div class="card text-white mb-3" style="max-width: 18rem;">
          <div class="card-header">{{ task.customer_name }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ task.project_name }}</h5>
            <p class="card-text">{{ task.task_desc }} - {{ task.duration_hours }}:{{ task.duration_minutes }}</p>
          </div>
          </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
  <div class="col">
    <h1>Fri</h1>
    {% for task in tasks %}
    {% if task.task_date.weekday() == 4 %}
      <div class="row">
        <div class="card text-white mb-3" style="max-width: 18rem;">
          <div class="card-header">{{ task.customer_name }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ task.project_name }}</h5>
            <p class="card-text">{{ task.task_desc }} - {{ task.duration_hours }}:{{ task.duration_minutes }}</p>
          </div>
          </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
  <div class="col">
    <h1>Sat</h1>
    {% for task in tasks %}
    {% if task.task_date.weekday() == 5 %}
      <div class="row">
        <div class="card text-white mb-3" style="max-width: 18rem;">
          <div class="card-header">{{ task.customer_name }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ task.project_name }}</h5>
            <p class="card-text">{{ task.task_desc }} - {{ task.duration_hours }}:{{ task.duration_minutes }}</p>
          </div>
          </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
  <div class="col">
    <h1>Sun</h1>
    {% for task in tasks %}
    {% if task.task_date.weekday() == 6 %}
      <div class="row">
        <div class="card text-white mb-3" style="max-width: 18rem;">
          <div class="card-header">{{ task.customer_name }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ task.project_name }}</h5>
            <p class="card-text">{{ task.task_desc }} - {{ task.duration_hours }}:{{ task.duration_minutes }}</p>
          </div>
          </div>
      </div>
    {% endif %}
  {% endfor %}
  </div>
</div>

<div class="customer-form" id="taskForm" style="display: none;">
  <div class="card bg-white text-dark" style="border-radius: 1rem;">
  <div class="card-body p-5">
      <div class="text-center">
        <h1>Create a task</h1>
        <!-- <h2>Sign In</h2> -->
      </div>
      <form action="/create-task" class="form-container" method="POST">
        <fieldset>
          <div class="input-group-text">
            <div class="row">
              <div class="col">
                <label for="task_date" class="form-label"><b>Date of task:</b></label>
                <input type="date" name="task_date" id='task_date' required>
              </div>
              <div class="col">
                <label for="invoiceable" class="form-label"><b>Invoiceable work:</b></label>
                <input type="checkbox" name="invoiceable" id='invoiceable'>
              </div>
            </div>
          </div>
          
          <label for="customer_id" class="form-label"><b>Choose a customer:</b></label>
          <select class="form-select" name="customer_id" id="customer_id" onchange="updateProjectsList()" required>
          {% for customer in customers %}
            <option value={{ customer[0] }}>{{ customer[1] }}</option>
          {% endfor %}
          </select>
          <label class="form-label" for="project_id"><b>Choose a project:</b></label>
          <select class="form-select" name="project_id" id="project_id"></select required>
    
          <div class="row">
            <div class="col">
              <label class="form-label" for="duration"><b>Task duration (hours:minutes):</b></label>
              <input type="time" name="duration" id='duration' required>
            </div>
          </div>
    
          <label class="form-label" for="task_type_id"><b>Type of task:</b></label>
          <select class="form-select" name="task_type_id" id="task_type_id">
          {% for task_type in task_types %}
            <option value={{ task_type.id }}>{{ task_type.description }}</option>
          {% endfor %}
          </select>
          
          <div class="input-group-text m-3">
          <label class="form-label" for="note"><b>Task description:</b></label>
          <textarea id="note" name="note" rows="4" cols="50" required></textarea>
        </div>
          
          <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
          <div class="position-relative">
            <button class="btn btn-primary btn-lg" type="submit" class="btn">Save task</button>
            <button class="btn btn-secondary btn-lg" type="button" class="btn cancel" onclick="closeForm()">Cancel</button>
          </div>
        </fieldset>
      </form>
    </div>
    </div>
  </div>
{% endblock %}

{% block script%}
<script>
    function getSelectedCustomerName() {
    var el = document.getElementById('customer_id');
    return el.value;
    }

    function getCurrentWeek() {
        currentDate = new Date(document.getElementById("chosen_date").value);
        startDate = new Date(currentDate.getFullYear(), 0, 1);
        var days = Math.floor((currentDate - startDate) /
            (24 * 60 * 60 * 1000));
        return Math.ceil(days / 7);
    }
    let weekNum = getCurrentWeek();
    document.getElementById("week_num").innerHTML = "Week " + weekNum;
    
    function openForm() {
      document.getElementById("taskForm").style.display = "block";
      // document.getElementById("open-button").style.display = "none";
    }

    function closeForm() {
      document.getElementById("taskForm").style.display = "none";
      // document.getElementById("open-button").style.display = "block";
    }
    
    var projects = JSON.parse('{{ projects | tojson }}');
    console.log(projects);
    function updateProjectsList() {
      projectEl = document.getElementById("project_id");
      projectEl.innerHTML = '';
      for (let i = 0; i < projects.length; i++) {
        if (projects[i].customer_id == getSelectedCustomerName()){
          var option = document.createElement("option");
          option.value = projects[i].project_id;
          option.text = projects[i].project_name;
          projectEl.appendChild(option);
        }}
    }
    updateProjectsList();
</script>
{% endblock %}